<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="main"> 
    <p id="main2" style="text-align: center;">Already have an account? <a href="/login">Log in</a></p>
    <form id="signupForm">
        <h2 >Sign Up</h2>
        <label for="firstname">First Name:</label>
        <input type="text" id="fname" name="fname" required>
        
        <label for="lastname">Last Name:</label>
        <input type="text" id="lname" name="lname" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
  
        <label for="number">Number:</label>
        <input type="number" id="number" name="number" required>
        <button class="button" id="SignUp">SignUp</button>

      </form>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js">
    //Axios is ajs library used for making http req from browser and node js. it simplifies http req to apis and handling responses
    //cdn - content delivery network- used to link html file
</script>
<script>
    async function signup(e) {
      e.preventDefault();
      const signUpDetails = {
        fname: e.target.fname.value,
        lname: e.target.lname.value,
        email: e.target.email.value,
        number: e.target.number.value
      };  
      try {
        const response = await axios.post('http://localhost:4200/user/signup', signUpDetails);
        if (response.status === 201) {
          alert(response.data.message);
          alert("Successfully signed up! Please Login");
          window.location.href = "/login";
        }
      } catch (err) {
        console.log(err);
        alert("User already signed up. Please go to the login page.");
      }
    }
    document.getElementById('signupForm').addEventListener('submit', signup);
  </script>
</script>
</body>
</html>